@import url("https://use.typekit.net/ije4ewe.css");
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Libre+Caslon+Text:ital@0;1&display=swap');
@import url("https://use.typekit.net/nlz3lzz.css");

body {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
    margin: 0;
    overflow: visible;
}

.header {
    position: fixed;
    z-index: 12000;
    top: 0;
    left: 0;
    width: 100vw;
    white-space: nowrap;
    padding: 4vh 3.5vw;
}

.content{
    display: inline-block;
}

hr{
    position: absolute;
    width: 42vw;
    background-color: white;
    /* top: 0;  */
    left: 0;
    border: none;
    height: 5px;
    margin: 74vh auto auto 12vw;
    z-index: 5000;
}

/* ------Header------ */
.header a:hover{
    text-decoration: none !important;
    /* opacity: .7; */
    text-shadow:0px 0px 1px black;
}

#logo {
    max-width: 5vw;
    min-width: 50px;
}

.header-buttons {
    float: right;
    margin-right: 6vh;
}

#work, #join, #nav-icon3 {
    display: inline-block;
    margin-bottom: 5vh;
    padding: 1vh 1.5vw;
    color:  #0A004F;
}

#work {
    /* margin-left: 60vw; */
    background-color: #DB3069;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #a1234d;
}

#join {
    margin-left: 1.5vw;
    padding: 1vh 3vw;
    background-color: #FFDA0A;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #bba008;
}

/* ------Social Icons------ */
#social{
    position: fixed;
    z-index: 300;
    bottom: 0;
    margin: auto auto 3vh 3.3vw;
}

#social img{
    padding-bottom: 3vh;
}

/* ------Nav-icon------ */
#nav-icon3{
    width: 5vh;
    position: fixed;
    margin: 1vh 2vw 2vh 2vw;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }

  #nav-icon3.active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

/* ------Overlay Menu------ */
.overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.overlay.open {
    opacity: 1;
    background-color: #0A004F;
    visibility: visible;
    height: 100%;
}

nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translate(-8%, -40%);
    color: white;
    font-size: 8vh;
    line-height: 15vh;
    font-weight: 600;
    text-align: right;
}

ul {
    list-style: none;
    /* padding: 0; */
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay a{
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: white;
    font-size: 9vh;
    font-weight: 700;
}

.overlay a:hover{
    color: #DB3069;
    text-decoration: none !important;
}

/* ------Side Menu------ */
#side-menu {
    position: -webkit-sticky;
    position: sticky;
    transform: rotate(-90deg);
    z-index: 1000;
    top: 0;
    float: left;
    padding-top: 79vh;
    margin-left: -36vw;
}

#side-menu a {
    color: white;
    font-size: 2vw;
    font-weight: 500;
    padding-right: 5vh;
}

#side-menu a:hover{
    color: #0A004F;
    text-decoration: none !important;
}

/* ------Landing Div------ */
#landing {
    background-color: #0A004F;
    height: 100vh;
    padding: 5vh;
    position: relative;
}

.landing-text{
    position: absolute;
    width: 60vw;
    margin: 21vh 0 auto 11vw;
    z-index: 1000;
    color: rgb(157, 149, 179);
    font-size: 10vh;
    font-family: "neue-haas-grotesk-display", sans-serif;
    /* font-family: "aktiv-grotesk", sans-serif; */
    line-height: 12vh;
    font-weight: 500;
}

.name {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    color: white;
}

#period {
    position: absolute;
    margin: 62vh 0 auto 52vw;
    z-index: 1000;
    color: white;
    font-size: 10vh;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
}

#portfolio {
    background-color: #FFDA0A;
    padding: 8vh;
    padding-left: 11vw;
    min-height: 100vh;
}

#team {
    background-color: #DB3069;
    padding: 8vh;
    padding-left: 10vw;
    min-height: 100vh;
}

#events {
    background-color: #07A0C3;
    padding: 8vh;
    padding-left: 10vw;
    min-height: 80vh;
}

.events-text{
    color: white;
    text-align: center;
    padding: 0 10vw;
    margin-bottom: 8vh;
}

.events-text h1{
    font-weight: 800;
    margin-bottom: 3vh;
}

.events-text p{
    /* font-family: "neuzeit-grotesk", sans-serif; */
    font-family: "freight-text-pro", serif;
    font-size: 3vh;
    font-weight: 500;
}

/* ------Footer------ */
#footer {
    background-color: #0A004F;
    padding: 5vh;
    padding-left: 10vw;
    min-height: 25vh;
    position: relative;
}

.copyright {
    position: absolute;
    color: #53547e;
    bottom: 0;
    right: 0;
    margin: auto 2vw 2vh auto;
    font-size: 2vh;
    font-weight: 400;
}

#footer a{
    color: rgb(228, 228, 228);
    line-height: 4.5vh;
    font-size: 2.2vh;
    font-weight: 400;
}

#footer a:hover {
    color: #DB3069;
    text-decoration: none !important;
}

#footer h5{
    margin-top: 6vh;
    color: #53547e;
    line-height: 7vh;
    font-weight: 700;
    font-size: 2.3vh;
}

/* ------Carousel------ */
#landing-carousel img {
    width: auto;
    height: 56vh;
    max-height: 56vh;
}

#landing-carousel {
    margin-top: 22vh;
    margin-left: 14vw;
}

.right.carousel-control{
    margin-bottom: 0;
    margin-left: 33vw;
}

.glyphicon {
    height: 15px;
    width: auto;
}

.carousel-caption {
    font-size: 8vh;

}

#text-carousel {
    position: absolute;
    color: white;
    font-size: 8vh;
    font-size: 10vh;
    z-index: 2000;
    margin: 57.5vh 11vw;
    font-family: "freight-text-pro", serif;
    /* font-style: italic; */
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    /* -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.1s; */
}

.row {
    display: flex;
  }

.col-md-4 {
    align-content: center;
}

/*Horizontal Scroll*/
#container .box {
    width:50vw;
    height:100vh;
    display:inline-block;
    position:relative;
  }
#container .box > div {
    background-color: #FFDA0A;
    padding: 8vh;
    padding-left: 11vw;
    min-height: 100vh;
    padding-top:13vw;
  }
  #container {
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position:absolute;
    width:100vh;
    height:100vw;
  }
  #container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;
    font-size:0;
  }
  a:hover {
      opacity: 0.5;
  }

/*Portfolio Grid*/

/* .carousel-control{
  background: none !important;
  filter: none !important;
  color: black;
} */
