@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Libre+Caslon+Text:ital@0;1&display=swap');
@import url("https://use.typekit.net/nlz3lzz.css");

body {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 500;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header {
    position: fixed;
    z-index: 12000;
    top: 0;
    left: 0;
    width: 100vw;
    white-space: nowrap;
    padding: 4vh 3.5vw;
}

hr{
    position: absolute;
    width: 42vw;
    background-color: white;
    left: 0;
    border: none;
    height: 5px;
    margin: 74vh auto auto 12vw;
    z-index: 5000;
}

h1{
    font-size: 6vh;
    font-weight: 900;
    margin-bottom: 3vh;
    /* font-family: "aktiv-grotesk", sans-serif; */
    font-family: "neuzeit-grotesk", sans-serif;
}

p{
    font-family: "neuzeit-grotesk", sans-serif;
    /* font-family: "freight-text", serif; */
    font-size: 2.8vh;
    font-weight: 600;
    line-height: 5.4vh;
    transform: scale(1, 1.05);
}

/* ------Header------ */
.header a:hover{
    text-decoration: none !important;
    /* opacity: .7; */
    text-shadow:0px 0px 1px black;
}

#logo {
    max-width: 5vw;
    min-width: 55px;
}

.header-buttons {
    float: right;
    margin-right: 6vh;
}

#work, #join, #nav-icon3 {
    display: inline-block;
    margin-bottom: 5vh;
    padding: 1vh 1.5vw;
    color:  #0A004F;
}

#work {
    background-color: #DB3069;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #a1234d;
    font-size: 2.2vh;
}

#join {
    margin-left: 1.5vw;
    padding: 1vh 3vw;
    background-color: #FFDA0A;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #bba008;
    font-size: 2.2vh;
}

/* ------Social Icons------ */
#social{
    position: fixed;
    z-index: 300;
    bottom: 0;
    margin: auto auto 3vh 3.3vw;
}

#social img{
    padding-bottom: 3vh;
}

#mobile-social {
   display: none;
}

/* ------Nav-icon------ */
#nav-icon3{
    width: 5vh;
    position: fixed;
    margin: 1vh 2vw 2vh 2vw;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 12px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 24px;
  }

  #nav-icon3.active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

/* ------Overlay Menu------ */
.overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.overlay.open {
    opacity: 1;
    background-color: #0A004F;
    visibility: visible;
    height: 100%;
}

nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translate(-8%, -40%);
    color: white;
    font-size: 8vh;
    line-height: 15vh;
    font-weight: 600;
    text-align: right;
}

ul {
    list-style: none;
    /* padding: 0; */
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay a{
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: white;
    font-size: 9vh;
    font-weight: 700;
}

.overlay a:hover{
    color: #DB3069;
    text-decoration: none !important;
}

/* ------Side Menu------ */
#side-menu {
    position: -webkit-sticky;
    position: sticky;
    transform: rotate(-90deg);
    z-index: 1000;
    top: 0;
    float: left;
    padding-top: 80.5vh;
    margin-left: -36vw;
}

#side-menu a {
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: white;
    font-size: 2vw;
    font-weight: 600;
    padding-right: 6vh;
}

#side-menu a:hover{
    color: #0A004F;
    text-decoration: none !important;
}

/* ------Landing Div------ */
#landing {
    background-color: #0A004F;
    height: 100vh;
    padding: 5vh;
    position: relative;
}

.landing-text{
    position: absolute;
    width: 60vw;
    margin: 21vh 0 auto 11vw;
    z-index: 1000;
    color: rgb(157, 149, 179);
    font-size: 10vh;
    font-family: "neue-haas-grotesk-display", sans-serif;
    line-height: 12vh;
    font-weight: 500;
}

.name {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    color: white;
}

#period {
    position: absolute;
    margin: 62vh 0 auto 52vw;
    z-index: 1000;
    color: white;
    font-size: 10vh;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
}

.text .col-md-9{
    padding-left: 5vw;
}

/* ------Team / "The Squad"------ */

#team {
    background-color: #DB3069;
    padding: 10vh 8vh;
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

#team .text{
    padding-left: 10vw;
}

#team .profile-name {
    position: absolute;
    margin-top: -4.1vh;
}

#team h2 {
    line-height: 3.8vh;
    font-size: 7vh;
    font-weight: 600;
}

.profile-grid{
    margin-left: 8vw;
}

#team .row.pictures.bottom {
    margin-top: 12vh;
    margin-bottom: 10vh;
}

#team .pictures {
    margin-top: 5vh;
}

#events {
    background-color: #07A0C3;
    padding: 10vh 8vh;
    padding-left: 10vw;
    min-height: 80vh;
}



/* ------Wendy code Yellow layer------ */

    .pic {
    opacity: 1;
    transition: .5s ease;
    z-index: 10;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    }

    .pic img {
    z-index: 5;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    }

    .col-md-3:hover .pic img {
    opacity: .1;
    }

    .col-md-3:hover .pic{
    background: #FFDA0A;
    }

/* ------Wendy code white title------ */

        .title {
        color: #0A004F;
        font-size: 1.5vw;
        font-family: "neuzeit-grotesk", sans-serif;
        font-weight: 400;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
        text-align: center;
        }

        .category {
        font-size: 1.3vw;
        font-weight: 400;
        font-family: "neuzeit-grotesk", sans-serif;
        }

        .col-md-3:hover .title {
        opacity: 1;
        }



/* ------Events------ */

#events {
    background-color: #07A0C3;
    padding: 8vh;
    padding-left: 10vw;
    min-height: 80vh;
    color: white;
}

#team .col-md-3 {
    margin: auto 1.5vw;
}



/* ------Wendy code Yellow layer------ */

    .pic {
    opacity: 1;
    transition: .5s ease;
    z-index: 10;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    }

    .pic img {
    z-index: 5;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    }

    .col-md-3:hover .pic img {
    opacity: .1;
    }

    .col-md-3:hover .pic{
    background: #FFDA0A;
    }

/* ------Wendy code white title------ */

        .title {
        color: #0A004F;
        font-size: 1.5vw;
        font-family: 'Libre Caslon Display', serif;
        font-weight: 800;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 44%;
        transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
        text-align: center;
        }

        .category {
        font-size: 1vw;
        font-weight: 600;
        }

        .col-md-3:hover .title {
        opacity: 1;
        }

.events-text{
    color: white;
}


/* ------Footer------ */
#footer {
    background-color: #0A004F;
    padding: 1vh;
    padding-left: 10vw;
    min-height: 25vh;
    position: relative;
}

.copyright {
    position: absolute;
    color: #53547e;
    bottom: 0;
    right: 0;
    margin: auto 2vw 2vh auto;
    font-size: 2vh;
    font-weight: 400;
}

#footer a{
    color: rgb(228, 228, 228);
    line-height: 4.5vh;
    font-size: 2.2vh;
    font-weight: 400;
}

#footer a:hover {
    color: #DB3069;
    text-decoration: none !important;
}

#footer h5{
    margin-top: 6vh;
    color: #53547e;
    line-height: 7vh;
    font-weight: 700;
    font-size: 2.3vh;
}

/* ------Carousel------ */
#landing-carousel img {
    width: auto;
    height: 56vh;
    max-height: 56vh;
}

#landing-carousel {
    margin-top: 22vh;
    margin-left: 14vw;
}

.right.carousel-control{
    margin-bottom: 0;
    margin-left: 33vw;
}

.glyphicon {
    height: 15px;
    width: auto;
}

.carousel-caption {
    font-size: 8vh;

}

#text-carousel {
    position: absolute;
    color: white;
    font-size: 8vh;
    font-size: 10vh;
    z-index: 2000;
    margin: 57.5vh 11vw;
    font-family: "freight-text-pro", serif;
    /* font-style: italic; */
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    /* -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.1s; */
}

.row {
    display: flex;
  }

.col-md-4 {
    align-content: center;
}

/* ------Portfolio------ */
#portfolio {
    background-color: #FFDA0A;
    padding: 10vh 0 8vh 8vh;
    min-height: 80vh;
    color: #0A004F;
    padding-left: 10vw;
}

.text {
    padding-bottom: 5vh;
    padding-right: 8vh;
}

#scroll-container {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
    align-items: center;
}

#scroll-container .box {
    width:43vw;
    height:65vh;
    display:inline-block;
}

#scroll-container img {
    width: 450px;
}

#portfolio a:hover {
      opacity: 0.1;
}

.work-info {
    color: #0A004F;
    font-size: 1.5vw;
    font-weight: 800;
    transition: .5s ease;
    opacity: 0;
    /* position: absolute;
    z-index: 2000; */
    text-align: center;
    margin-top: -33vh;
    margin-left: -8vw;
    /* top: 10%; */
    /* left: 44%; */
    /* transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%); */

    }

.box:hover .work-info {
    opacity: 1;
}

/*Portfolio Grid*/

/* .carousel-control{
  background: none !important;
  filter: none !important;
  color: black;
} */

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  /* overall */
  h1 {
      text-align: center;
  }

  /* landing page */
  #landing {
      padding: 20vh 0vw 0 12.5vw;
  }
  .landing-text {
      width: 75vw;
      margin: 8vh 0 0 0;
      font-size: 10vw;
      line-height: 12vw;
  }
  #text-carousel {
      font-size: 10vw;
      margin: 50vw 0;
  }
  hr {
      width: 72vw;
      height: 3px;
      margin: 66vw auto auto 12vw;
  }
  #period {
      margin: 54vw 0 auto 73vw;
      font-size: 10vw;
  }
  /* hide landing photo carousel */
  #landing-carousel {
      visibility: hidden;
  }
  .right.carousel-control {
      visibility: hidden;
  }
  /* remove left side social media buttons on mobile */
  #social {
      display: none;
  }
  #mobile-social {
     display: inline-block;
     margin: 75vw 12.5vw 0;
  }
  #mobile-social img {
      width: 5vw;
      margin: 0 5vw;
  }

  /* disable side menu on mobile */
  #side-menu {
      display: none;
  }

  /* portfolio page */
  #portfolio {
      padding: 10vh 10vw;
  }
  #portfolio .text {
      padding: 0 0 5vh 0;
  }
  #scroll-container {
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: normal;
      max-width: 100vw;
  }
  #scroll-container .box {
      height: 45vh;
  }
  #scroll-container img {
      width: 80vw;
  }

  #scroll-container .work-info {
      visibility: hidden;
  }

  /* team page */
  #team {
      padding: 10vh 10vw;
  }
  #team .text {
      padding: 0 0 8vh 0;
  }
  #team .pictures {
      margin: 0;
  }
  #team .col-md-3 {
      margin: 0 0 10vh 0;
  }
  .profile-grid {
    margin-left: 0;
  }
  #team .row.pictures.bottom {
    margin: 0;
  }

  /* events page */
  #events {
      padding: 10vh 10vw;
  }
  #events .text {
      padding: 0 0 5vh 0;
  }

  /* footer */
  #footer {
      padding: 10vh 10vw;
  }
  #footer .container-fluid .col-md-3 {
      padding: 0 7vw;
  }
}
