@import url("https://use.typekit.net/nlz3lzz.css");
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Libre+Caslon+Text:ital@0;1&display=swap');

body{
    background-color: #0A004F;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-size: 6.5vh;
}

h2 {
  line-height: 7vh;
  font-size: 4vh;
}

p{
    font-size: 2vh;
    font-family: "freight-text-pro", serif;
}

.grid {
  max-width: 100%;
  padding-left: 8vh;
  margin: 10vh 0;
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  margin: 55px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* ------Footer------ */
#footer {
  background-color: #0A004F;
  padding: 1vh;
  min-height: 25vh;
  position: relative;
}

.copyright {
  position: absolute;
  color: #53547e;
  bottom: 0;
  right: 0;
  margin: auto 2vw 2vh auto;
  font-size: 2vh;
  font-weight: 400;
}

#footer a{
  color: rgb(228, 228, 228);
  line-height: 4.5vh;
  font-size: 2.2vh;
  font-weight: 400;
}

#footer a:hover {
  color: #DB3069;
  text-decoration: none !important;
}

#footer h5{
  margin-top: 6vh;
  color: #53547e;
  line-height: 7vh;
  font-weight: 700;
  font-size: 2.3vh;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
img:hover {
  opacity: 55%;
}








