@import url("https://use.typekit.net/nlz3lzz.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Libre+Caslon+Text:ital@0;1&display=swap');

body{
    background-color: #0A004F;
    color: rgb(215, 215, 215);
}

h1 {
    font-weight: 800;
    font-size: 6.5vh;
    font-family: "neue-haas-grotesk-text", sans-serif;
}

h2 {
    font-size: 3vh;
    font-weight: 700;
    color: #8c8dc2;
    margin-bottom: 3vh;
}

p{
    font-size: 1.9vh;
    font-family: "neuzeit-grotesk", sans-serif;
    line-height: 2.8vh;
    color: rgb(165, 172, 212);
}

.col-md-3{
    padding-top: 19.5vh;
    padding-right: 4vw;
}

.blurb {
    padding-top: 17vh;
    padding-left: 3vw;
    padding-right: 2.5vw;
    line-height: 3vh;
    /* text-align: justify; */
}

.links ul{
    list-style: none;
    padding: 0;
    font-size: 2vh;
    font-family: "freight-text-pro", serif;
    font-family: "neuzeit-grotesk", sans-serif;
}

.links ul a{
    color: rgb(165, 172, 212);
}


.links ul a:hover{
    color: #DB3069;
    text-decoration: none !important;
}

.links li {
    margin-bottom: 2vh;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #landing {
      padding: 20vh 0vw 0 10vw;
  }
  .landing-text {
      margin: 20vh 0 0 0;
      font-size: 5vh;
      line-height: 7vh;
  }
  #text-carousel {
      font-size: 5vh;
      margin: 48vh 0vw;
  }
  hr {
      width: 60vw;
      height: 2px;
      margin: 56vh auto auto 10vw;
  }
  #period {
      margin: 50vh 0 auto 62vw;
      font-size: 5vh;
  }
  .container-fluid {
      padding: 0 10vw;
  }
  #landing-carousel {
      margin-top: 0;
      margin-left: 20vw;
  }
  h1 {
      text-align: left;
  }
  .col-md-3 {
    padding-top: 10vh;
  }
}
